<section class="top about">
    <div class="content">
        <h1>About</h1>
    </div>
</section>
<main class="main-about">
    <section class="main">
        <p>
            Yayoi Kusama's (b. 1929) work has transcended two of the most important art movements of the second half of
            the twentieth century: Pop art and Minimalism. Her highly influential career spans paintings, performances,
            room-size presentations, outdoor sculptural installations, literary works, films, fashion, design, and
            interventions within existing architectural structures, which allude at once to microscopic and macroscopic
            universes.
        </p>
        <figure>
            <img src="/assets/kusama-portrait.jpg" alt="Portrait of Yayoi Kusama">
            <figcaption>Yayoi Kusama, 2021. Photo by Yusuke Miyazaki.</figcaption>
        </figure>
        <p>
            Born in 1929 in Matsumoto, Japan, Kusama’s work has been featured widely in both solo and group
            presentations. She presented her first solo show in her native Japan in 1952. In the mid-1960s, she
            established herself in New York as an important avant-garde artist by staging groundbreaking and influential
            happenings, events, and exhibitions. Her work gained renewed widespread recognition in the late 1980s
            following a number of international solo exhibitions, including shows at the Center for International
            Contemporary Arts, New York, and the Museum of Modern Art, Oxford, both of which took place in 1989. She
            represented Japan in 1993 at the 45th Venice Biennale, to much critical acclaim. In 1998, the Los Angeles
            County Museum of Art and the Museum of Modern Art, New York, co-organized Love Forever: Yayoi Kusama,
            1958–1968, which toured to the Walker Art Center, Minneapolis (1998-1999), and Museum of Contemporary Art,
            Tokyo (1999).
        </p>
        <p>
            More recently, in 2011 to 2012, her work was the subject of a large-scale retrospective that traveled to the
            Museo Nacional Centro de Arte Reina Sofía, Madrid; Centre Georges Pompidou, Paris; Tate Modern, London; and
            the Whitney Museum of American Art, New York. From 2012 through 2015, three major museum solo presentations
            of the artist’s work simultaneously traveled to major museums throughout Japan, Asia, and Central and South
            America. In 2015, the Louisiana Museum of Modern Art in Humlebæk, Denmark, organized a comprehensive
            overview of Kusama’s practice that traveled to Henie-Onstad Kunstsenter, Høvikodden, Norway; Moderna Museet,
            Stockholm; and Helsinki Art Museum. In 2017-2019, a major survey of the artist’s work, Infinity Mirrors, was
            presented at the Hirshhorn Museum and Sculpture Garden, Washington, DC; Seattle Art Museum; The Broad, Los
            Angeles; Art Gallery of Ontario, Toronto; The Cleveland Museum of Art, Ohio; and the High Museum of Art,
            Atlanta, Georgia. Yayoi Kusama: Life Is the Heart of the Rainbow, which marked the first large-scale
            exhibition of Kusama’s work presented in Southeast Asia, opened at the National Gallery of Singapore in 2017
            and traveled to the Queensland Art Gallery | Gallery of Modern Art in Brisbane, Australia and the Museum of
            Modern and Contemporary Art in Nusantara, Jakarta.
        </p>
        <p>
            A comprehensive retrospective of the artist’s work was on view at Gropius Bau, Berlin in 2021, and traveled
            to the Tel Aviv Museum of Art in 2022. KUSAMA: Cosmic Nature was on view at The New York Botanical Garden in
            2021. Tate Modern, London, is presenting Yayoi Kusama: Infinity Mirror Rooms through June 11, 2023. In
            Montreal, the PHI Foundation for Contemporary Art, is currently presenting Yayoi Kusama: DANCING LIGHTS THAT
            FLEW UP TO THE UNIVERSE.
        </p>
        <p>
            Kusama has been represented by David Zwirner since 2013. The gallery's inaugural exhibition in 2013 with the
            artist, titled I Who Have Arrived in Heaven, spanned all three spaces at West 19th Street in New York. Her
            second gallery solo show was held at David Zwirner, New York, in 2015. Subsequent solo shows of the artist’s
            work at David Zwirner, New York, include Give Me Love in 2015; Festival of Life, concurrently presented with
            Infinity Nets, in 2017; and EVERY DAY I PRAY FOR LOVE in 2019. In 2021, David Zwirner, Victoria Miro, and
            Ota Fine Arts jointly presented I WANT YOUR TEARS TO FLOW WITH THE WORDS I WROTE in London, Tokyo, and New
            York.
        </p>
        <p>Yayoi Kusama Museum, a museum dedicated to the artist’s work, opened October 1, 2017, in Tokyo with the
            inaugural exhibition Creation is a Solitary Pursuit, Love is What Brings You Closer to Art. A POEM IN MY
            HEART, the museum’s ninth exhibition devoted to her work, was on view in 2022. </p>
        <p>
            Work by the artist is held in museum collections worldwide, including the Art Gallery of Ontario, Toronto;
            Centre Georges Pompidou, Paris; Hirshhorn Museum and Sculpture Garden, Washington, DC; Los Angeles County
            Museum of Art; The Museum of Modern Art, New York; National Museum of Modern Art, Tokyo; Stedelijk Museum,
            Amsterdam; Tate, London; Walker Art Center, Minneapolis, Minnesota; and the Whitney Museum of American Art,
            New York; among numerous others. Kusama lives and works in Tokyo.
        </p>
    </section>

    <aside class="timeline">
        <section>
            <h2>Yayoi Kusama in 10 dates</h2>
            <div class="dates">
                <article class="date-entry">
                    <h3>22 March 1929</h3>
                    <p>Birth in Matsumoto, Nagano (Japan)</p>
                </article>
                <article class="date-entry">
                    <h3>1939</h3>
                    <p>First hallucinations, first paintings</p>
                </article>
                <article class="date-entry">
                    <h3>March 1952</h3>
                    <p>First personal exhibition in Matsumoto.</p>
                </article>
                <article class="date-entry">
                    <h3>1957</h3>
                    <p>Move to the Seattle and then New-York city</p>
                </article>
                <article class="date-entry">
                    <h3>1959-1963</h3>
                    <p>First exhibitions of the <em>Infinity nets</em></p>
                </article>
                <article class="date-entry">
                    <h3>1973</h3>
                    <p>Return to Japan</p>
                </article>
                <article class="date-entry">
                    <h3>1994</h3>
                    <p>First open-air sculptures</p>
                </article>
                <article class="date-entry">
                    <h3>2017</h3>
                    <p>50-year retrospective of her work at Hirshhorn Museum in Washington, DC</p>
                </article>
                <article class="date-entry">
                    <h3>2017</h3>
                    <p>Inauguration of the Yayoi Kusama Museum in Tokyo</p>
                </article>
                <article class="date-entry">
                    <h3>1948</h3>
                    <p>Nihonga painting studies at the Kyoto Municipal School of Arts and Crafts</p>
                </article>

            </div>

    </aside>
    </section>


</main>