<section class="top about">
    <div class="content">
        <h1>Works</h1>
    </div>
</section>
<section id="portfolio">
    <div class="slider">
        <figure class="portfolio-image active">
            <img src="/assets/portfolio/kusama2015_install_view_19.jpg" alt="">
        </figure>
        <figure class="portfolio-image">
            <img src="/assets/portfolio/yayoi-kusama-fondation.jpeg" alt="">
            <figcaption>Yayoi Kusama, <em>INFINITY MIRRORED ROOM &ndash; DANCING LIGHTS THAT FLEW UP TO THE
                    UNIVERSE</em>,
                2019. &copy; YAYOI KUSAMA</figcaption>
        </figure>
        <figure class="portfolio-image">
            <img src="/assets/portfolio/yk_hirshhorn-1.jpg" alt="">
            <figcaption>Installation view, <em>Infinity Mirror Room—Phalli’s Field (Floor Show)</em>, Hirshhorn Museum
                and
                Sculpture Garden, 1965/2017.&nbsp; © YAYOI KUSAMA. Photo by Cathy Carver. Courtesy David Zwirner, New
                York;
                Ota Fine Arts, Tokyo/Singapore/Shanghai; Victoria Miro, London/Venice</figcaption>
        </figure>
        <figure class="portfolio-image">
            <img src="/assets/portfolio/infinity.jpeg" alt="">
            <figcaption>Yayoi Kusama, <em>Infinity Mirror Room – Phalli’s Field</em>, 1965</figcaption>
        </figure>
        <figure class="portfolio-image">
            <img src="/assets/portfolio/pumpkin.jpg" alt="">
            <figcaption>Yayoi Kusama, <em>Dancing Pumpkin</em>, 2020</figcaption>
        </figure>
    </div>

    <button id="previous">Previous </button>
    <button id="next">Next</button>

</section>

<footer>
    This is student work - All images come from this page : https://www.davidzwirner.com/artists/yayoi-kusama
</footer>